
/* css variables*/
:root {
    --primary-color: #da1039;
    --primary-color-light: #8E7474;
    --accent-color: #FE6A6B;
    --accent-color-light: #FFE4E4;
    --accent-color-dark: #B94B4C;
    --white-color: #FAFBFC;
    --light-gray-color: #EDEDED;
    --medium-gray-color: #959DA5;
    --dark-gray-color: #444D56; 
    --bg-color: #F8F8FA;
    --code-bg-color: #F0E8E8;
    --fg-color: #626262;
  }
  
  // Bootstrap variables
  $enable-rounded: false;
  
  // @import "bootstrap";
  @import "bulma";
  
  @import "general/typography";
  @import "general/variables";
  // @import "general/navigation";
  @import "general/cookiebar";
  @import "general/sidebar";
  
  body {
    font-family: 'Nunito Sans', sans-serif;
    
    font-size: 19px;
    color: var(--fg-color);
    overflow-x: hidden;
  }
  
  table.table{
    color: var(--fg-color);
  }

  textarea {
    font-family: "Open Sans", sans-serif;
  }
  
  button {
    border: none;
    cursor: pointer;
  }
  
  h1 {
    font-size: 3.0rem;
  }

  h2 {
    font-size: 2.4rem;
  }
  
  h3 {
    font-size: 1.75rem;
  }
  
  p {
    font-weight: 300;
    color: #4A4A4A;
  
    &.lead {
      font-size: 1.5rem;
      font-weight: 300;
  
      b{
        font-weight: 600;
      }
    }
  
    &.text-justify{
      text-align: justify;
    }
  
    &:last-child {
      margin-bottom: 0;
    }
  }
  
  @media (max-width: 767px) {
    .scroll {
      margin: 20px auto 0;
    }
  }

/* Hero */
.hero{
  &.is-primary {
    background-color: var(--primary-color);
    color: #fff;
  }
}