
/* css variables*/
:root {
    --primary-color: #432E30;
    --primary-color-light: #8E7474;
    --accent-color: #FE6A6B;
    --accent-color-light: #FFE4E4;
    --accent-color-dark: #B94B4C;
    --white-color: #FAFBFC;
    --light-gray-color: #EDEDED;
    --medium-gray-color: #959DA5;
    --dark-gray-color: #444D56; 
    --bg-color: #F8F8FA;
    --code-bg-color: #F0E8E8;
    --fg-color: #626262;
  }
  
  // Bootstrap variables
  $enable-rounded: false;
  
  @import "bootstrap";
  
  @import "general/typography";
  @import "general/variables";
  @import "general/navigation";
  @import "general/cookiebar";
  @import "general/sidebar";
  
  body {
    font-family: 'Nunito Sans', sans-serif;
    
    font-size: 19px;
    color: var(--fg-color);
    overflow-x: hidden;
  }
  
  table.table{
    color: var(--fg-color);
  }
  
  /* Additional menu elements */
  header.header{
    // padding-top: 1rem;
    // background-color: white;
    // position: fixed;
    // top: 0;
    // left: 0;
    // right: 0;
    // z-index: 10;
    // 
    background: #fff;
    box-shadow: 2px 7px 14px 0 rgba(#000, 0.11);
    // box-shadow: 2px 7px 14px 0 rgb(0 0 0 / 11%);
  }
  
  div.menu {
      padding: 0.5rem;
      // >ul{
        
      //   text-align: right;
      // }
    }
  
  /* Logo */
  .logo{
    
    // width: 100%;
    /*padding: 0.85em*/
  
    > h1{
      font-weight: 900;
      color: var(--primary-color);
      font-size: 1.4em;
      display: inline-block;
    }
  
    > img{
      width: 50px;
      display: inline-block;
    }
  
    // @media (max-width: 768px) {
  
    //   position: absolute;
    // }
  }
  
  @media (min-width: 992px) { 
  
    section.main-container{
      max-width: 960px;
    }
  }
  
  /* Figures and captions */
  .figure-caption{
    font-weight: 100;
    font-size: 90%;
  }
  
  .block{
    padding-top: 2em;
    padding-bottom: 2em;
  
    &.gray{
      background-color: var(--light-gray-color);
    }
  }
  
  
  textarea {
    font-family: "Open Sans", sans-serif;
  }
  
  button {
    border: none;
    cursor: pointer;
  }
  
  h2 {
    font-size: 2.4rem;
  }
  
  h3 {
    font-size: 1.75rem;
  }
  
  p {
    font-weight: 300;
    color: #4A4A4A;
  
    &.lead {
      font-size: 1.5rem;
      font-weight: 300;
  
      b{
        font-weight: 600;
      }
    }
  
    &.text-justify{
      text-align: justify;
    }
  
    &:last-child {
      margin-bottom: 0;
    }
  }
  
  @media (max-width: 767px) {
    .scroll {
      margin: 20px auto 0;
    }
  }