
/* css variables*/
:root {
    --primary-color: #da1039;
    --primary-color-light: #8E7474;
    --secondary-color: #f5f5f5;
    // --accent-color: #FE6A6B;
    // --accent-color-light: #FFE4E4;
    // --accent-color-dark: #B94B4C;
    // --white-color: #FAFBFC;
    --light-gray-color: #EDEDED;
    --medium-gray-color: #959DA5;
    --dark-gray-color: #444D56; 
    --bg-color: #F8F8FA;
    --code-bg-color: #f5f5f5;
    --fg-color: #626262;
  }

:root[data-theme="dark"] {
  --primary-color: #da1039;
  --primary-color-light: #8E7474;
  --secondary-color: #161b22;
  // --accent-color: #FE6A6B;
  // --accent-color-light: #FFE4E4;
  // --accent-color-dark: #B94B4C;
  // --white-color: #FAFBFC;
  --light-gray-color: #EDEDED;
  --medium-gray-color: #959DA5;
  --dark-gray-color: #444D56; 
  --bg-color: #121212;
  --code-bg-color: #161b22;
  --fg-color: #cccccc;
}

// Bulma variables
$body-overflow-y: auto; // Remove fixed y scroll
$scheme-main: var(--bg-color);
$text: var(--fg-color);
$footer-background-color: var(--secondary-color);
$footer-color: var(--fg-color);
  
  // @import "bulma";
  @import "bulma";
  
  @import "general/typography";
  @import "general/variables";
  @import "general/cookiebar";
  @import "general/docs";
  @import "general/slider";
  
  body {
    font-family: 'Nunito Sans', sans-serif;
    
    font-size: 19px;
    color: var(--fg-color);
    background: var(--bg-color);


    overflow-x: hidden;
  }
  
  table.table{
    color: var(--fg-color);
  }

  textarea {
    font-family: "Open Sans", sans-serif;
  }
  
  button {
    border: none;
    cursor: pointer;
  }
  
  h1 {
    font-size: 3.0rem;
  }

  h2 {
    font-size: 2.4rem;
  }
  
  h3 {
    font-size: 1.75rem;
  }
  
  p {
    font-weight: 300;
    color: var(--fg-color);
  
    &.lead {
      font-size: 1.5rem;
      font-weight: 300;
  
      b{
        font-weight: 600;
      }
    }
  
    &.text-justify{
      text-align: justify;
    }
  
    &:last-child {
      margin-bottom: 0;
    }
  }
  
  @media (max-width: 767px) {
    .scroll {
      margin: 20px auto 0;
    }
  }

pre{
  background-color: var(--code-bg-color);
  color: var(--fg-color);
}

code{
  background-color: var(--code-bg-color);
  color: var(--primary-color);
}

/* Hero */
.hero{
  &.is-primary {
    background-color: var(--primary-color);
    color: var(--fg-color);
  }
}

header.navbar{
  z-index: 10000 !important;
}

/* Navigation */
a.navbar-item{
  font-weight: normal;
}