{% set navPages = collections.sidebarNav | eleventyNavigation %}

{# The rendering macro #}
{% macro renderNavListItem(entry, level) -%}

{% for item in entry %}
{# <h1>{{ level }}|{{ item.title }}</h1> #}
 {% if level == 0 %}
	<p class="menu-label">
		<a href="{{ item.url }}">{{ item.title }}</a>
	</p>
{% else %}
	<li{% if entry.url == page.url %} class="is-active"{% endif %}>
		<a href="{{ item.url }}">{{ item.title }}</a>
	</li>
{% endif %}
{%- if item.children.length -%}
  <ul class='menu-list'>
    {{ renderNavListItem(item.children, level+1) }}
  </ul>
{%- endif -%}
{% endfor %}

{%- endmacro %}

{# Render navigation #}
{{ renderNavListItem(navPages, 0) }}