<section id="header" class="hero is-medium is-primary mb-5 is-fullhd">
  <div class="hero-body has-text-centered">
    <p class='title'>DaScH-LAB</p>
    <p class='subtitle'>Data Sciences for Health @ <a href="">TLS</a></p>
  </div>
</section>