
$white: hsl(0, 0%, 100%) !default;
$black: hsl(0, 0%, 4%);
// $navbar-height: 3.25rem !default;
// $navbar-background-color: $white !default;
$modal-background-background-color: rgba($black, 0.86) !default;

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$grid-gutter-width:           1.5rem !default;

.overlay {
  min-height: 100%;
  min-width: 100%;
  display: none;
  z-index: 399;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $modal-background-background-color;
  cursor: pointer;
  transition: all 600ms ease;
  &.on {
    display: block;
  }
}


// .left {
//   background-color: green;
//   justify-content: flex-start;
// }

.off-container{
  @media (min-width: $breakpoint-lg) {
    display: grid;
    grid-template-areas: "sidebar main";
    grid-template-columns: 1fr 5fr;
    gap: $grid-gutter-width;
  }
}

.off-sidebar {
  grid-area: sidebar;
  
  
  @media (min-width: $breakpoint-lg) {
    position: sticky;
    // top: 5rem;
    // Override collapse behaviors
    // stylelint-disable-next-line declaration-no-important
    display: block !important;
   
    // Prevent focus styles to be cut off:
    padding-left: .25rem;
    margin-left: -.25rem;
    overflow-y: auto;
  }

  >.menu{
    
    overflow-y: auto;
    min-height: calc(100vh - 3.25rem);
    @media (max-width: $breakpoint-lg) {
      visibility: hidden;
      min-width: 250px;
      position: fixed;
      background-color: whitesmoke;
      z-index: 1000;

      &.is-active{
        visibility: visible;
      }
    }
  }
  // top: 0;
  // left: -250px;
  // position: fixed;

  // // width: 250px;
  // height: 100%;
  background-color: whitesmoke;
  
  // transition: all 600ms ease;
  // z-index: 400;
  // box-shadow: 0 2px 3px rgba($black, 0.1), 0 0 0 1px rgba($black, 0.1);
  // .menu {
  //   margin: 0.5em;
  //   position: relative;
  // }
  // &.on {
  //   margin-left: 250px;
  // }
  // @media (min-width: $breakpoint-lg) {
  //   left: 0;
  //   &.on {
  //     margin-left: 0;
  //   }
  // }
}

// .off-content {
//   margin-top: 5em;
//   float: left;
//   @media (min-width: 1008px) {
//     margin-left: 250px;
//   }
// }

.bd-intro {
  grid-area: intro;

  > .navbar{
    z-index: inherit;
  }
  }
  
  .bd-toc {
  grid-area: toc;
  }

  .bd-content {
    grid-area: content;
    min-width: 1px; // Fix width when bd-content contains a `<pre>` https://github.com/twbs/bootstrap/issues/25410
    }

.off-content {
  grid-area: main;
  
  @media (max-width: $breakpoint-lg) {
      max-width: 760px;
      margin-inline: auto;
  }
  
    @media (min-width: $breakpoint-md) {
      display: grid;
      grid-template-areas:
      "intro"
      "toc"
      "content";
      grid-template-rows: auto auto 1fr;
      gap: inherit;
    }
  
    @media (min-width: $breakpoint-lg) {
      grid-template-areas:
      "intro   toc"
      "content toc";
      grid-template-rows: auto 1fr;
      grid-template-columns: 4fr 1fr;
    }
  }