
{#- Set some variables -#}
{%- set cookieMessage = 'This site uses cookies - please read our cookie policy.' -%} 

<!DOCTYPE html>
<html lang="it" xmlns="http://www.w3.org/1999/xhtml" class="scrolled-to-top">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="description" content="{{ description }}" />

    <title>DaScH-Lab</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800,900" rel="stylesheet" />

    {# <link rel="shortcut icon" href="{{ '/assets/favicons/favicon.ico'|url }}" /> #}

    {# Core stylesheet #}
    <link href="{{ manifest.css.main|url }}" rel="stylesheet" />
    <link href="{{ manifest.css.cookieconsent|url }}" rel="stylesheet" />

  </head>

  <body class="has-navbar-fixed-top">

    {#- Navigation menu -#}
    <header class="navbar is-fixed-top">
      <div class="navbar-brand">
        <a class="navbar-item" href="{{ '/'|url }}">
          DaScH-Lab
          
        </a>
        <div class="navbar-burger" data-target="main-navbar">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>

      <div id="main-navbar" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="{{ '/'|url }}">Home</a>
          <a class="navbar-item" href="{{ '/docs/'|url }}">Docs</a>
        </div>

        <div class="navbar-end">
          <div class="navbar-item">
            <img src="{{ '/assets/images/logotls.png'|url }}" alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="28">
          </div>
        </div>
      </div>
    </header>

    {# Page content #}
    <section id="content">
    {% block content %}
      <div class='container'>
        {{- content | safe -}}
      </div>
    {% endblock %}
    </section>

    {#- Include aggregated scripts -#}
    <script defer="defer" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script defer src="{{ manifest.js.cookieconsent|url }}"></script>

    <script type="text/javascript">

      {# https://tympanus.net/Freebies/scribbler/doc.html #}
      window.addEventListener("load", function(){

        {#- Toggle navigation -#}
        $(".navbar-burger").click(function() {

            // get this data-target
            var target = $(this).data("target");

            // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
            $(this).toggleClass("is-active");
            $('#' + target).toggleClass("is-active");

        });

        {# Initialize cookies #}
        var cc = initCookieConsent();
        cc.run({
          current_lang: 'en',
          autoclear_cookies: true,                   // default: false
          page_scripts: true,                        // default: false
          cookie_name: 'daschlabcookie',             // default: 'cc_cookie'
          languages: {
            'en': {
              consent_modal: {
                title: 'We use cookies!',
                description: 'Hi, this website uses essential cookies to ensure its proper operation and tracking cookies to understand how you interact with it. The latter will be set only after consent. <button type="button" data-cc="c-settings" class="cc-link">Let me choose</button>',
                primary_btn: {
                  text: 'Accept all',  
                  role: 'accept_all'              // 'accept_selected' or 'accept_all'
                },
                secondary_btn: {
                  text: 'Reject all',
                  role: 'accept_necessary'        // 'settings' or 'accept_necessary'
                }
              },
              settings_modal: {
                title: 'Cookie preferences',
                save_settings_btn: 'Save settings',
                accept_all_btn: 'Accept all',
                reject_all_btn: 'Reject all',
                close_btn_label: 'Close',
                cookie_table_headers: [
                  {col1: 'Name'},
                  {col2: 'Domain'},
                  {col3: 'Expiration'},
                  {col4: 'Description'}
                ],
                blocks: [
                  {
                    title: 'Cookie usage 📢',
                    description: 'I use cookies to ensure the basic functionalities of the website and to enhance your online experience. You can choose for each category to opt-in/out whenever you want. For more details relative to cookies and other sensitive data, please read the full <a href="{{ '/en/privacy/'|url }}" class="cc-link">privacy policy</a>.'
                  }, 
                  {
                    title: 'Strictly necessary cookies',
                    description: 'These cookies are essential for the proper functioning of my website. Without these cookies, the website would not work properly',
                    toggle: {
                      value: 'necessary',
                      enabled: true,
                      readonly: true          // cookie categories with readonly=true are all treated as "necessary cookies"
                    }
                  }, 
                  {
                    title: 'Performance and Analytics cookies',
                    description: 'These cookies allow the website to remember the choices you have made in the past',
                    toggle: {
                      value: 'analytics',     // your cookie category
                      enabled: false,
                      readonly: false
                    },
                    cookie_table: [             // list of all expected cookies
                      {
                        col1: '^_ga',       // match all cookies starting with "_ga"
                        col2: 'google.com',
                        col3: '2 years',
                        col4: 'description ...',
                        is_regex: true
                      },
                      {
                        col1: '_gid',
                        col2: 'google.com',
                        col3: '1 day',
                        col4: 'description ...',
                      }
                    ]
                    }, {
                      title: 'Advertisement and Targeting cookies',
                      description: 'These cookies collect information about how you use the website, which pages you visited and which links you clicked on. All of the data is anonymized and cannot be used to identify you',
                      toggle: {
                        value: 'targeting',
                        enabled: false,
                        readonly: false
                      }
                    }, {
                      title: 'More information',
                      description: 'For any queries in relation to our policy on cookies and your choices, please <a class="cc-link" href="{{ '/contacts/'|url }}">contact us</a>.',
                    }
                ]
              }
            }
          }
        });
      });
    </script>
  </body>
</html>