---
layout: layouts/base.njk
title: DaScH Lab Documentation
isDocs: true
---

  <div class='off-container'>
    <aside class="off-sidebar">
      <div class="menu" id="offside-menu">
        {% include "components/docs-toc.njk" %}
        {# <p class="menu-label">
          General
        </p>
        <ul class="menu-list">
          <li><a>Dashboard</a></li>
          <li><a>Customers</a></li>
        </ul>
        <p class="menu-label">
          Administration
        </p>
        <ul class="menu-list">
          <li><a>Team Settings</a></li>
          <li>
            <a class="is-active">Manage Your Team</a>
            <ul>
              <li><a>Members</a></li>
              <li><a>Plugins</a></li>
              <li><a>Add a member</a></li>
            </ul>
          </li>
          <li><a>Invitations</a></li>
          <li><a>Cloud Storage Environment Settings</a></li>
          <li><a>Authentication</a></li>
        </ul>
        <p class="menu-label">
          Transactions
        </p>
        <ul class="menu-list">
          <li><a>Payments</a></li>
          <li><a>Transfers</a></li>
          <li><a>Balance</a></li>
        </ul> #}
      </div>
    </aside>

    <main class='off-content'>

      <div class="bd-intro">

        <nav class="navbar" role="navigation" aria-label="page navigation">
          <div class="navbar-burger" data-target="offside-menu">
              <span></span>
              <span></span>
              <span></span>
          </div>

          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                <a class="button" href="https://github.com/dasch-lab/dashlab.github.io/tree/master/{{ page.inputPath }}" title="View and edit this file on GitHub" target="_blank" rel="noopener">
                  View on GitHub
                </a>
              </div>
            </div>
          </div>
        </nav>

        <h1 class="bd-title mb-0" id="content">{% if pageTitle %}{{ pageTitle | safe }}{% endif %}</h1>
      </div>

      <div class='bd-toc'>
        {{ content | toc | safe }}
      </div>

      <div class='bd-content'>
        {{ content | safe }}
      </div>
    </main>
  </div>