---
layout: layouts/base.njk
title: DaScH Lab Documentation
isDocs: true
---
{% set pageToc = content|toc %}

<header id="docsToggles" class='docs-toggle'>
      <button class="button is-primary is-light bd-fat-button is-small side-button" data-target="offside-menu">Show menu</button>
      {% if pageToc %}
      <button class="button is-primary is-light bd-fat-button is-small side-button" data-target="offside-toc">Show sidebar</button>
      {% endif %}
    </header>
  <div class='docs-wrapper'>
    <aside class="docs-side" id="offside-menu">
      <div class="menu docs-content" >
        {% include "components/docs-toc.njk" %}
      </div>
    </aside>

    {% if pageToc %}
      <div class='docs-toc' id="offside-toc">
        <div class="docs-content">
          <strong class='mt-2'>On this page</strong>
          <hr>
          {{ pageToc | safe }}
        </div>
      </div>
      {% endif %}

    <main class='docs-main'>

      <div class="bd-intro">

        <nav class="navbar" role="navigation" aria-label="page navigation">
          {# <div class="navbar-burger" data-target="offside-menu">
              <span></span>
              <span></span>
              <span></span>
          </div> #}

          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                <a class="button" href="https://github.com/dasch-lab/dashlab.github.io/tree/master/{{ page.inputPath }}" title="View and edit this file on GitHub" target="_blank" rel="noopener">
                  View on GitHub
                </a>
              </div>
            </div>
          </div>
        </nav>

        <h1 class="bd-title mb-0" id="content">{% if pageTitle %}{{ pageTitle | safe }}{% endif %}</h1>
      </div>

      <div class="container">
      {{ content | safe }}
      </div>
      

      
    </main>

      
  </div>

<script type="text/javascript">

  {# https://tympanus.net/Freebies/scribbler/doc.html #}
  window.addEventListener("load", function(){

    {#- Toggle navigation -#}
    $(".side-button").click(function() {

        // get this data-target
        var target = $(this).data("target");

        // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
        $(this).toggleClass("is-active");
        $('#' + target).toggleClass("is-active");

    });
  });
</script>