{% extends 'layouts/base.njk' %}

{% block content %}

    {% include 'header.njk' %}
    <section class='section'>
      <div class='container'>
        {{- content | safe -}}
      </div>
    </section>
{% endblock %}